<%= form_with(model: movie, :html => { :id => "new_movie_form" }, local: false) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <td>
    
      <%= form.label :title %>
      <%= form.text_field :title %>
    
  </td>

<td>

    <%= form.label :description %>
    <%= form.text_area :description %>
  
</td>

<td>
  
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  
</td>

<td>
  
    <%= form.label :image %>
    <%= form.text_field :image %>
  
</td>

<td>
  
    <%= form.label :year %>
    <%= form.number_field :year %>
  
</td>

<td>
  
    <%= form.label :director_id %>
    <%= form.text_field :director_id %>
  
</td>

<td>
  
    <%= form.submit %>
  
</td>
<% end %>
