<tr id="movie_<%= movie.id %>">
        <td class="movie-title">
          <span class="movie-title-text"><%= movie.title %></span>
          <div class="movie-form" style="display:none;">
            <%= form_with(model: movie, local: false) do |form| %>
              <%= form.text_field :title, id: "movie_title_#{movie.id}", onblur: 'Rails.fire(this.form, "submit")' %>
              <%= form.submit style: "display:none;" %>
            <% end %>
          </div>  
        </td>
        <td class="movie-description">
          <span class="movie-description-text"><%= movie.description %></span>
          <div class="movie-form" style="display:none;">
            <%= form_with(model: movie, local: false) do |form| %>
              <%= form.text_area :description, id: "movie_description_#{movie.id}", onblur: 'Rails.fire(this.form, "submit")' %>
              <%= form.submit style: "display:none;" %>
            <% end %>
          </div> 
        </td>       
        <td class="movie-duration">
          <span class="movie-duration-text"><%= movie.duration %></span>
          <div class="movie-form" style="display:none;">
            <%= form_with(model: movie, local: false) do |form| %>
              <%= form.number_field :duration, id: "movie_duration_#{movie.id}", onblur: 'Rails.fire(this.form, "submit")' %>
              <%= form.submit style: "display:none;" %>
            <% end %>
          </div> 
        </td>
        <td class="movie-year">
          <span class="movie-year-text"><%= movie.year %></span>
          <div class="movie-form" style="display:none;">
            <%= form_with(model: movie, local: false) do |form| %>
              <%= form.number_field :year, id: "movie_year_#{movie.id}", onblur: 'Rails.fire(this.form, "submit")' %>
              <%= form.submit style: "display:none;" %>
            <% end %>
          </div> 
        </td>
        <td>
          <%= form_with(model: movie, local: false) do |form| %>
            <%= form.select :director_id, options_for_select(Director.all.map {|director| [director.name, director.id]}, selected: movie.director_id), {id: "movie_director_#{movie.id}"}, {onchange: 'Rails.fire(this.form, "submit")'} %>
            <%= form.submit style: "display:none;" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>