      
<tr id="movie_<%= movie.id %> ">
  <td id="movie_<%= movie.id %>_title"><%= link_to movie.title, "movies/" + movie.id.to_s + "/edit", remote: true %></td>
  <td id="movie_<%= movie.id %>_year"><%= link_to movie.year, "movies/" + movie.id.to_s + "/edit", remote: true %></td>
  <td><%= movie.director.name %></td>
  <td id="movie_<%= movie.id %>_description">
    <details>
      <summary> 
        Show Description
      </summary>
      <p><%= movie.description %></p>
    </details>
  </td>
  <td id="movie_<%= movie.id %>_duration"><%= link_to movie.duration, "movies/" + movie.id.to_s + "/edit", remote: true %></td>
  <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
