<tr>
<tr id="<%= dom_id(movie)%>">
        <td><%= link_to movie.title, edit_movie_path(movie), remote:true %></td>
        <td><%= movie.year %></td>
        <td><%= Director.find_by(id: movie.director_id).name %> </td>
        <td><%= movie.description %></td>
        <td><%= movie.duration %></td>
        <td><%= link_to 'Delete', movie, method: :delete, remote:true %>
        </td>
      </tr>
</tr>