<tr id="<%= dom_id(movie) %>">
        
        <td>
          <div id="<%= dom_id(movie) %>_title">
            <%= link_to movie.title, "/movies/#{movie.id}/title/edit", remote: true %>
          </div>
        </td>

        <td>
          <details>
            <summary>Show desccription</summary>
            <p><%= movie.description %></p>
          </details>
        </td>
        <td><%= movie.duration %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director.name %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, remote: true %>
        
        </td>
      </tr>