<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <tr>
    <td>
      <label for="new_movie_title"> Add a New Title </label>
      <input type="text" name="new_movie_title" id="new_movie_title">
    </td>

    <td>
      <label for="new_movie_year"> New Title's Year </label>
      <input type="text" name="new_movie_year" id="new_movie_year">
    </td>

    <td>
      <label for="new_movie_director"> New Title's Director </label>
      <input type="text" name="new_movie_director" id="new_movie_director">
    </td>

    <td>
      <label for="new_movie_description"> New Title's Description </label>
      <textarea type="text" name="new_movie_description" id="new_movie_description">
      </textarea>
    </td>

    <td>
      <label for="new_movie_duration"> New Title's Duration </label>
      <input type="text" name="new_movie_duration" id="new_movie_duration">
    </td>
    
    <td class="actions" id="<% dom_id(Movie.new)%>" >
       <button type="button" class="btn btn-light"> <%= link_to 'New Movie', new_movie_path, remote: true %> </button>
    </td>

  </tr>
    <% @movies.order(title: :asc).each do |movie| %>
      <tr id="<%= dom_id(movie)%>">
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director_id %></td>
        <td><%= movie.description %></td>
        <td><%= movie.duration %></td>
        <td><%= link_to 'Delete', movie, method: :delete, remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

