<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Year</th>
      <th>Director</th>
      <th colspan="3"></th>
    </tr>

    <tr id="new_movie_form">
      <%=form_with(model: Movie.new, local: false) do |form|%>
        <th id="new_movie_title"><%= form.text_field :title %></th>
        <th id="new_movie_description"><%= form.text_area :description %></th>
        <th id="new_movie_duration"><%= form.number_field :duration %></th>
        <th id="new_movie_year"><%= form.number_field :year %></th>
        <th id="new_movie_director_id"><%= form.text_field :director_id %></th>
        <th class="actions"><%=form.submit%></th>
      <%end%>
    </tr>
  </thead>

  <tbody id="movie_body">
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director_id %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
