<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Year</th>
      <th>Director</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tr>
      <%= render 'form', movie: @movie %>
    </tr>
  <tbody id="movies">
  
    <% @movies.each do |movie| %>
      <tr id= "movie_<%= movie.id %>">
        <td id= "title"><%= link_to movie.title, edit_title_path(movie), remote:true %></td>
        <td>
          <div id="movie_<%= movie.id %>_description">
                  <details>
                    <summary>
                      Show description
                    </summary>
                    
                    <p><%= movie.description %></p>

                    <%= link_to 'Edit', edit_movie_path(movie), remote: true %>
                    </details>
          </div>
        
        </td>
        <td><%= movie.duration %></td>
        <td><%= movie.year %></td>
        <td id= "director"><%= link_to movie.director.name, edit_director_path(movie), remote: true %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
