  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Ajaxify Scaffolds", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        
        <%= link_to "Movies", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Directors", directors_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Actors", actors_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Characters", characters_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
  
  
 