<!DOCTYPE html>
<html>
  <head>
    <title>VanillaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Movies", root_path %></li>
        <li><%= link_to "Directors", directors_path %></li>
        <li><%= link_to "Actors", actors_path %></li>
        <li><%= link_to "Characters", characters_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
