<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= render "shared/cdn_assets.html.erb"%>
    <title>Ajaxify Scaffolds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= render "shared/navbar" %>

      
        <%= yield %>

      
    
    </nav>
    
  </body>
</html>
